testbed:
    name: {{ name }}
    {% if alias is defined and alias %}
    alias: {{ alias }}
    {% endif %}

devices:
{% for device, attrs in devices.items() %}
  {{ device | replace(name ~ '-', '') }}:
    connections:
      cli:
        ip: {{ attrs.connections.cli.get('ip') }}
        protocol: {{ attrs.connections.cli.get('protocol', 'ssh') }}
    credentials:
      default:
        password: {{ attrs.get('password', 'admin') }}
        username: {{ attrs.get('username', 'admin') }}
      enable:
        password: {{ attrs.get('enable_password', 'admin') }}
    os: {{ attrs.get('os', 'iosxe') }}
    type: {{ attrs.get('type', 'iosxe') }}
{% endfor %}
